<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Hello today is {{model}}</h3>
    <p class="blueText">
        Giá vàng SJC tiến gần 53 triệu đồng một lượng
    </p>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Email</td>
        </tr>
        {{#each model}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
        </tr>
        {{/each}}
    </table>
    <a href="/register">Register</a>
</body>
</html>